/* Original CSS from Carbon https://codepen.io/team/buysellads/pen/ELovLo */

#carbonads {
  display: block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 1em;
  background: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  max-width: 130px;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 8px;
  line-height: 1;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
}

.carbon-poweredby {
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1;
}

/* Custom overrides */

.ts-ad {
	min-width: 17rem;
	order: 2;
	border: 1px solid #dbdbdb;
  box-sizing: content-box;
	border-radius: 3px;
  margin-left: 1rem;
}

#carbonads {
  min-width: 17rem;
  padding: 0.5rem;
  display: flex;
  height: 100%;
  align-items: center;
  border-radius: 3px;
}

#carbonads a {
  border: none;
}

#carbonads .carbon-poweredby,
#carbonads .carbon-poweredby:hover {
  color: #767676;
  font-size: 9px;
}

.carbon-text {
  margin-bottom: 10px;
  font-size: 13px;
}

@media (max-width: 500px) {
  .ts-ad {
    margin-top: 1rem;
    margin-left: 0;
    min-height: 118px;
  }

  #carbonads {
    min-width: 100%;
    padding: 1rem;
    display: block;
  }

  .carbon-text {
    text-align: left;
    font-size: 14px;
  }

  .carbon-img {
    float: left;
    margin: 0 1rem 0 0;
    line-height: 0;
  }

  #carbonads span {
    position: relative;
  }

  .carbon-poweredby {
    position: absolute;
    left: 142px;
    bottom: 2px;
    color: #767676;
  }
}
