/* Original CSS suggested by Carbon https://codepen.io/team/buysellads/pen/VxpJmJ */

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .1);
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}

/* Custom overrides */

.ts-ad {
	min-height: 127px;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

#carbonads {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border: 1px solid #dbdbdb;
  background: #fff;
  border-radius: 3px;
  box-shadow: none;
  max-width: 375px;
}

#carbonads a {
  border: none;
}

#carbonads .carbon-poweredby,
#carbonads .carbon-poweredby:hover  {
  border-radius: 0 0 2px 2px;
  background: #f0f0f0;
  color: #767676;
  font-weight: 400;
}

.carbon-img img {
  border-top-left-radius: 2px;
}

@media (max-width: 500px) {
	#carbonads {
    max-width: 100%;
  }
}
