/* Original CSS from Carbon https://codepen.io/team/buysellads/pen/ELovLo */

#carbonads {
  display: block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 1em;
  background: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  max-width: 130px;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
  border: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 8px;
  line-height: 1;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
}

.carbon-poweredby {
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1;
}

/* Custom overrides */

#carbonads {
  min-width: 17rem;
  padding: 0.5rem;
}

.carbon-text {
  margin-bottom: 10px;
  font-size: 13px;
}
