.darkmode-active {
  background: var(--gray-600);
  color: var(--gray-100);
}

.darkmode-active .form textarea {
  background: var(--gray-500);
  border-color: var(--gray-500);
  color: var(--gray-100);
}

.darkmode-active .table-header td span {
  background: var(--gray-500);
}

.darkmode-active .ts-ad {
  border-color: var(--black);
  background: var(--black);
}

.darkmode-active .ts-ad.ts-ad-secondary {
  background: none;
}

.darkmode-active #carbonads {
  background: var(--black);
  border-color: var(--black);
}

.darkmode-active #carbonads .carbon-poweredby,
.darkmode-active #carbonads .carbon-poweredby:hover {
  background: var(--black);
}

.darkmode-active a {
  color: var(--gray-100);
  border-color: var(--gray-100);
}

.darkmode-active a:hover,
.darkmode-active a:focus,
.darkmode-active a:active {
  border-color: var(--magenta);
}

.darkmode-active code {
  background: var(--gray-500);
}