@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/WorkSans-Regular.woff2') format('woff2'),
       url('/fonts/WorkSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/WorkSans-Bold.woff2') format('woff2'),
       url('/fonts/WorkSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/WorkSans-Black.woff2') format('woff2'),
       url('/fonts/WorkSans-Black.woff') format('woff');
}
