*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	line-height: 1.618;
	font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: normal;
	text-align: center;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 3px solid #000;
}

a:hover, a:focus {
	border-color: #ca228e;
}

code {
  background: #f0f0f0;
  font-size: 85%;
  padding: 0.2rem 0.6rem;
	border-radius: 3px;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.ts-wrapper {
	padding: 2rem;
	max-width: 80rem;
	margin: 0 auto 4rem;
}

.ts-header {
	margin: 7rem auto 10rem;
}

.ts-header h1 {
	margin: 0;
}

.ts-headline h1 a {
	background: linear-gradient(to right, #e96443, #ca228e);
  border-radius: 3px;
	margin-bottom: 0;
	font-size: 6rem;
	font-weight: 900;
	line-height: 1.1;
	color: #fff;
	text-decoration: none;
	border: none;
	padding: 0.5rem 3rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.ts-subhead {
	margin-top: 1.5rem;
}

.ts-content {
	margin-bottom: 10rem;
}

.ts-form h2 {
	font-weight: normal;
  font-size: 2.7rem;
  line-height: 1.3;
	margin: 0;
}

.ts-form textarea {
	width: 100%;
	max-width: 52rem;
	padding: 1.2rem;
	margin: 1.5rem auto 2rem;
	min-height: 20rem;
	background: #f0f0f0;
	border: 1px solid #dbdbdb;
	word-spacing: 1rem;
	border-radius: 3px;
	-webkit-appearance: none;
}

input[type="submit"] {
	padding: 1.6rem;
	width: 100%;
	max-width: 52rem;
	border: none;
	background: #000;
	color: #fff;
	border-radius: 3px;
	-webkit-appearance: none;
	line-height: inherit;
	white-space: normal;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background: #ca228e;
}

#tints-and-shades {
	overflow-x: auto;
	width: 100%;
}

.ts-content table {
	width: 100%;
	border-collapse: collapse;
}

.ts-colors {
	margin-top: 8rem;
}

td.hex-color {
	height: 6.5rem;
	min-width: 6.5rem;
}

td.hex-value {
	font-size: 1.3rem;
	text-align: center;
	padding: 0.5rem 0 2.5rem;
	text-transform: lowercase;
}

.ts-documentation {
	text-align: left;
}

.ts-documentation p {
	margin: 1.5rem 0;
}

.ts-documentation h2 {
	margin-top: 3.5rem;
	margin-bottom: 0;
	font-size: 2.7rem;
	line-height: 1.3;
}

.ts-documentation h3 {
	margin-top: 2rem;
	margin-bottom: -0.5rem;
}

.ts-documentation ul, .ts-documentation ol {
	padding-left: 3rem;
	margin: 1.5rem 0;
}

.ts-documentation li {
	margin-bottom: 0.5rem;
}

.ts-footer a:first-child {
	margin-right: 2.5rem;
}

.not-found h2 {
	font-weight: 900;
	font-size: 6rem;
	line-height: 1;
	margin: 0;
}

.github-corner {
	position: absolute;
	top: 0;
	border: none;
	right: 0;
}

.github-corner:hover svg {
	fill: #ca228e !important;
}

html > body > cloudflare-app[app="welcome-bar"] {
	font-size: 1.8rem !important;
}

html body cloudflare-app[app="welcome-bar"] alert-message-content {
	font-size: inherit !important;
}

html body cloudflare-app[app="welcome-bar"][data-style="prominent"] .alert-cta-button {
	font-weight: normal !important;
	text-transform: none !important;
	padding-right: .9em !important;
	letter-spacing: 0 !important;
	opacity: 1 !important;
	font-size: inherit !important;
}

html body cloudflare-app[app="welcome-bar"][data-style="prominent"] .alert-cta-button:after {
	display: none !important;
}

alert-dismiss, alert-dismiss:hover, alert-dismiss:focus {
	color: #fff !important;
	position: absolute !important;
	right: 0 !important;
}

@media (pointer: coarse) {
	.ts-content textarea {
		font-size: 16px;
	}

	#tints-and-shades {
		overflow-y: scroll;
	  -webkit-overflow-scrolling: touch;
	}
}

@media (max-width: 1000px) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 500px) {
	.ts-headline h1 a {
		font-size: 5rem;
	}
}

@media (max-width: 400px) {
	.ts-header {
		margin: 7rem auto 7rem;
	}
}

@media (max-width: 370px) {
	.ts-headline h1 a {
		font-size: 4.5rem;
		padding: 0.5rem 1.5rem;
	}

	.ts-form h2 {
		font-size: 2rem;
	}
}

@media (max-width: 340px) {
	.ts-headline h1 a {
		font-size: 3.5rem;
	}
}
