html, body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: auto;
	text-align: center;
	background: #f5f7f7;
}

b, strong {
    font-weight: bold;
}

.ts-wrapper {
	font-size: 2rem;
	line-height: 2.5rem;
}

.ts-app {
	min-height: 100%;
	margin-bottom: -25rem;
}

.ts-app:after {
	content: "";
	display: block;
}

.ts-header-wrapper {
	background: url("../images/dome.jpg");
    background-size: cover;
    background-position: 50%;
}

.ts-header {
	background: #C02942;
	background: linear-gradient(to bottom right, rgba(192,41,66,0.95), rgba(217,91,67,0.95));
    color: #fff;
    padding: 9rem 1.5rem;
    border-bottom: 1px solid #333;
}

.ts-headline {
    max-width: 80rem;
    margin: auto;
}

.ts-headline h1 {
	font-family: 'Patua One', serif;
 	font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 1px;
}

.ts-headline p {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.ts-headline h1 a {
	color: #ffffff;
	text-decoration: none;
	text-shadow: 1px 1px 0 #333, 2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333;
}

.ts-content {
	padding: 4rem 1.5rem;
	max-width: 80rem;
	margin: auto;
}

.ts-documentation {
    text-align: left;
    padding-top: 1.5rem;
    font-size: 1.6rem;
}

.ts-documentation p {
    margin: 1rem 0;
}

.ts-documentation h2 {
    margin-bottom: 1.2rem;
    margin-top: 2.5rem;
}

.ts-documentation h3 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.ts-documentation ul, .ts-documentation ol {
	padding-left: 3rem;
	margin: 1rem 0;
}

.ts-documentation ol {
	list-style-type: decimal;
}

.ts-documentation ul {
	list-style-type: disc;
}

.ts-content a {
    color: #542437;
    text-decoration: none;
    border-bottom: 1px solid #ecd078;
}

.ts-content a:hover {
	border-width: 2px;
}

.ts-content h2 {
	font-size: 2.4rem;
	line-height: 3rem;
	font-weight: bold;
	color: #333;
}

.ts-hint {
	font-size: 1.3rem;
}

.ts-content textarea {
    display: block;
    min-width: 48rem;
    padding: .8rem 1.2rem;
    margin: 1.5rem auto 3rem auto;
    font-size: 16px;
    font-weight: 400;
    min-height: 18rem;
    line-height: 2.4rem;
    border: 1px solid #333;
    word-spacing: 0.5rem;
    border-radius: 2px;
}

input[type="submit"] {
    display: block;
    margin: auto;
    padding: 1.8rem 2.5rem;
    border: none;
    background: #53777a;
    margin-bottom: 0.8rem;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    outline: none;
    -webkit-appearance: none;
	transition: background 0.1s ease-in-out;
}

input[type="submit"]:hover {
	background: #4b6b6e;
}

input[type="submit"]:active {
	background: #425f62;
}

#shades-tints {
    overflow-x: auto;
    width: 100%;
}

.ts-content table {
	width: 100%;
	margin: 3rem 0;
}

.ts-colors {
    min-height: 20rem;
    margin-top: 2rem;
}

td.hex-color {
    height: 7rem;
    width: calc(100%/11);
    min-width: 6rem;
}

td.hex-value {
	font-size: 1.2rem;
	text-align: center;
	padding-bottom: 2rem;
	text-transform: lowercase;
}

.ts-footer {
    background: linear-gradient(to bottom, #542437, #3b1927);
    padding: 0 1.5rem;
    color: #ecd078;
    font-size: 1.6rem;
    line-height: 2rem;
}

.ts-footer, .ts-app:after {
    height: 25rem; 
}

.ts-footer-content {
	padding: 5rem 0;
}

.ts-footer a {
    color: #ecd078;
    text-decoration: none;
    border-bottom: 1px solid #ecd078;
}

.ts-footer a:hover {
    background: transparent;
    border-bottom-width: 2px;
}

.ts-source {
	margin-bottom: 4rem;
}

.ts-source a {
	border: none;
	display: inline-block;
}

.ts-source-logo {
    margin-bottom: 0.8rem;
    font-size: 5rem;
    transition: transform .1s ease-in-out;
}

.ts-source-text {
	display: inline;
    border-bottom: 1px solid #ecd078;
}

.ts-source a:hover .ts-source-logo {
    border: none;
    transform: scale(1.1);
    background: transparent;
}

.ts-source a:hover .ts-source-text {
    border-bottom-width: 2px;
}

@media (max-width: 1000px) {
	html {font-size: 55%;}
}

@media (max-width: 640px) {
	html {font-size: 50%;}
	.ts-content textarea, input[type="submit"] {min-width: 100%;}
}