*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	line-height: 1.618;
	font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: normal;
	text-align: center;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 3px solid #000;
}

a:hover, a:focus, a:active {
	border-color: #ca228e;
}

code {
  background: #f0f0f0;
  font-size: 85%;
  padding: 0.2rem 0.6rem;
	border-radius: 3px;
}

.ts-wrapper {
	padding: 2rem;
	max-width: 80rem;
	margin: 0 auto 4rem;
}

.ts-header {
	margin: 6rem auto 9rem;
}

.ts-header h1 {
	margin: 0;
}

.ts-headline h1 a {
	background: linear-gradient(to right, #e96443, #ca228e);
  border-radius: 3px;
	margin-bottom: 0;
	font-size: 6rem;
	font-weight: 900;
	line-height: 1.1;
	color: #fff;
	text-decoration: none;
	border: none;
	padding: 0.7rem 3rem;
	display: block;
}

.ts-subhead {
	margin-top: 1.5rem;
}

.ts-content {
	margin-bottom: 10rem;
}

.ts-form form {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ts-form h2 {
	font-weight: normal;
  font-size: 2.7rem;
  line-height: 1.3;
	margin: 0;
}

.ts-form textarea {
	width: 100%;
	max-width: 52rem;
	padding: 1.2rem;
	margin: 1.5rem auto 2.5rem;
	min-height: 20rem;
	background: #f0f0f0;
	border: 1px solid #dbdbdb;
	word-spacing: 0.25rem;
	border-radius: 3px;
	-webkit-appearance: none;
	resize: vertical;
}

.button {
	padding: 1.6rem;
	width: 100%;
	max-width: 52rem;
	border: none;
	background: #000;
	color: #fff;
	border-radius: 3px;
	-webkit-appearance: none;
	line-height: inherit;
	white-space: normal;
	outline: none;
	cursor: pointer;
}

.button:hover, .button:focus {
	background: #ca228e;
}

#tints-and-shades {
	overflow-x: auto;
	width: 100%;
	padding-top: 4rem;
}

.ts-content table {
	width: 100%;
	border-collapse: collapse;
}

.ts-colors {
	margin-top: 4rem;
}

td.hex-color {
	height: 6.5rem;
	min-width: 6.5rem;
	cursor: pointer;
	position: relative;
}

td.hex-color:before {
  content: "";
  display: block;
  opacity: 0;
  height: 24px;
  width: 24px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDIxSDhWN0gxOVYyMVpNMTkgNUg4QzYuOSA1IDYgNS45IDYgN1YyMUM2IDIyLjEgNi45IDIzIDggMjNIMTlDMjAuMSAyMyAyMSAyMi4xIDIxIDIxVjdDMjEgNS45IDIwLjEgNSAxOSA1Wk0xNiAxSDRDMi45IDEgMiAxLjkgMiAzVjE3SDRWM0gxNlYxWiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  transition: all .2s ease-in-out;
}

td.hex-color.copied:before {
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0);
}

td.hex-color:hover:before {
  opacity: 1;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

td.hex-color:active:before {
  opacity: 0.25;
}

td.hex-color:after {
  content: "";
  display: block;
  opacity: 0;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOSAyMS4wMzVsLTktOC42MzggMi43OTEtMi44NyA2LjE1NiA1Ljg3NCAxMi4yMS0xMi40MzYgMi44NDMgMi44MTd6Ii8+PC9zdmc+");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s ease-in-out;
}

td.hex-color.copied:after {
  opacity: 1;
}

td.hex-value {
	font-size: 1.3rem;
	text-align: center;
	padding: 0.5rem 0 2.5rem;
	text-transform: lowercase;
}

.ts-documentation {
	text-align: left;
}

.ts-documentation p {
	margin: 1.5rem 0;
}

.ts-documentation h2 {
	margin-top: 3.5rem;
	margin-bottom: 0;
	font-size: 2.7rem;
	line-height: 1.3;
}

.ts-documentation h3 {
	margin-top: 2rem;
	margin-bottom: -0.5rem;
}

.ts-documentation ul, .ts-documentation ol {
	padding-left: 3rem;
	margin: 1.5rem 0;
}

.ts-documentation li {
	margin-bottom: 0.5rem;
}

.ts-footer a:first-child {
	margin-right: 2.5rem;
}

.not-found {
	background: #000;
  color: #fff;
	display: inline-block;
  padding: 4rem 4rem 3rem;
}

.not-found h2 {
	font-weight: 900;
	font-size: 6rem;
	line-height: 1;
	margin: 0;
}

.github-corner {
	position: absolute;
	top: 0;
	border: none;
	right: 0;
}

.github-corner:hover svg {
	fill: #ca228e !important;
}

.anchorjs-link {
	padding-left: 0 !important;
	margin-left: 0.375em !important;
}

@media (pointer: coarse) {
	.ts-content textarea {
		font-size: 16px;
	}

	#tints-and-shades {
		overflow-y: scroll;
	  -webkit-overflow-scrolling: touch;
	}
}

@media (max-width: 1000px) {
	html {
		font-size: 55%;
	}

	td.hex-value {
		font-size: 12px;
	}
}

@media (max-width: 500px) {
	.ts-headline h1 a {
		font-size: 5rem;
	}
}

@media (max-width: 400px) {
	.ts-header {
		margin: 7rem auto 6rem;
	}
}

@media (max-width: 370px) {
	.ts-headline h1 a {
		font-size: 4.5rem;
	}

	.ts-form h2 {
		font-size: 2rem;
	}
}

@media (max-width: 340px) {
	.ts-headline h1 {
		line-height: 1.2;
	}

	.ts-headline h1 a {
		font-size: 3.6rem;
		padding: 1.5rem;
	}
}
