*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	line-height: 1.618;
	font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: normal;
	text-align: center;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 3px solid #000;
}

a:hover, a:focus, a:active {
	border-color: #ca228e;
}

code {
  background: #f0f0f0;
  font-size: 85%;
  padding: 0.2rem 0.6rem;
	border-radius: 3px;
	word-break: break-word;
}

.github-corner {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-25deg); }
  40% { transform: rotate(10deg); }
  60% { transform: rotate(-25deg); }
  80% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.ts-wrapper {
	padding: 2rem;
	max-width: 80rem;
	margin: 0 auto 4rem;
}

.ts-header {
	margin: 4rem auto 8rem;
}

.ts-header h1 {
	margin: 0;
}

.ts-headline h1 a {
	background: linear-gradient(to right, #e96443, #ca228e);
  border-radius: 3px;
	margin-bottom: 0;
	font-size: 5.6rem;
	font-weight: 900;
	line-height: 1.1;
	color: #fff;
	text-decoration: none;
	border: none;
	padding: 1rem 2.5rem;
	display: inline-block;
	width: 100%;
}

.ts-content {
	margin-bottom: 10rem;
}

.ts-form form {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ts-form h2 {
	font-weight: normal;
  font-size: 2.5rem;
  line-height: 1.3;
	margin: 0;
}

.ts-input {
	display: flex;
  max-width: 60rem;
  margin: 1rem auto 2rem;
	width: 100%;
}

.ts-form textarea {
	padding: 1.2rem;
	min-height: 25rem;
	background: #f0f0f0;
	border: 1px solid #dbdbdb;
	word-spacing: 0.25rem;
	border-radius: 3px;
	-webkit-appearance: none;
	resize: none;
	width: 100%;
}

.labels {
	position: relative;
	display: flex;
	justify-content: center;
}

.form-warning {
	opacity: 0;
	background: #cc0000;
	color: #fff;
	position: absolute;
	bottom: -10px;
	font-size: 2rem;
  line-height: 2.4rem;
	display: block;
	pointer-events: none;
	padding: 0.75rem 1.5rem;
	border-radius: 3px;
	transition: opacity .2s linear, bottom .25s ease-out;
	z-index: 5;
}

.form-warning.visible {
	opacity: 1;
	bottom: 2px;
	pointer-events: auto !important;
}

.form-warning:after {
	opacity: 0;
	content: "";
	position: absolute;
	left: calc(50% - 1rem);
	margin-top: 1.5rem;
  width: 2rem;
  height: 2rem;
	transform: rotate(45deg);
	background: #cc0000;
	transition: opacity .2s linear;
	z-index: -5;
}

.form-warning.visible:after {
	opacity: 1;
}

.button {
	padding: 1.6rem;
	width: 100%;
	max-width: 60rem;
	border: none;
	background: #000;
	color: #fff;
	border-radius: 3px;
	-webkit-appearance: none;
	line-height: inherit;
	white-space: normal;
	outline: 0;
	cursor: pointer;
	font-size: 2rem;
}

.button:hover, .button:focus {
	background: #ca228e;
}

.table-header td {
	font-size: 1.3rem;
	font-weight: 500;
	padding: 0.5rem 0 2.5rem;
  min-width: 6.5rem;
}

.table-header td span {
	background: #e6e6e6;
	padding: 0.5rem 1rem;
	border-radius: 5px;
}

#tints-and-shades {
	overflow-x: auto;
	width: 100%;
	outline: 0;
}

.ts-content table {
	width: 100%;
	border-collapse: collapse;
}

.ts-colors {
	margin-top: 8rem;
}

td.hex-color {
	height: 6.5rem;
	min-width: 6.5rem;
	cursor: pointer;
	position: relative;
	outline: 0;
}

td.hex-color:before {
  content: "";
  display: block;
  opacity: 0;
  height: 4rem;
  width: 4rem;
	border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjwhLS1HZW5lcmF0ZWQgYnkgSUpTVkcgKGh0dHBzOi8vZ2l0aHViLmNvbS9pY29uamFyL0lKU1ZHKS0tPjxwYXRoIGQ9Ik0wLDBoMjR2MjRoLTI0WiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGZpbGw9IiMwMDAiIGQ9Ik0xNiwxaC0xMmMtMS4xLDAgLTIsMC45IC0yLDJ2MTRoMnYtMTRoMTJ2LTJabTMsNGgtMTFjLTEuMSwwIC0yLDAuOSAtMiwydjE0YzAsMS4xIDAuOSwyIDIsMmgxMWMxLjEsMCAyLC0wLjkgMiwtMnYtMTRjMCwtMS4xIC0wLjksLTIgLTIsLTJabTAsMTZoLTExdi0xNGgxMXYxNFoiPjwvcGF0aD48L3N2Zz4=);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  transition: all .15s ease-in-out;
}

td.hex-color.copied:before {
	box-shadow: none;
}

td.hex-color:focus:before,
td.hex-color:hover:before {
  opacity: 1;
	top: 50%;
  width: 4rem;
  height: 4rem;
}

td.hex-color:active:before {
  opacity: 0.2;
	height: 3.6rem;
	width: 3.6rem;
}

td.hex-color:after {
  content: "";
  display: block;
  opacity: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjwhLS1HZW5lcmF0ZWQgYnkgSUpTVkcgKGh0dHBzOi8vZ2l0aHViLmNvbS9pY29uamFyL0lKU1ZHKS0tPjxwYXRoIGQ9Ik0yMy4zNzQsMC4yODdsMy41OTg3NmUtMDgsMi41ODAwNGUtMDhjLTAuNjczMjQyLC0wLjQ4MjY2NSAtMS42MTAyOSwtMC4zMjgyMDggLTIuMDkzLDAuMzQ1bC0xNC4wMzUsMTkuNTY4bC00LjY4NSwtNC42ODlsMi40MjM2OGUtMDgsMi40MjQ4MmUtMDhjLTAuNTg1Njk4LC0wLjU4NTk3NCAtMS41MzU1MywtMC41ODYxOTggLTIuMTIxNSwtMC4wMDA1MDAwNjhjLTAuNTg1OTc0LDAuNTg1Njk4IC0wLjU4NjE5OCwxLjUzNTUzIC0wLjAwMDUwMDA2OCwyLjEyMTVjMS40ODk4OWUtMDgsMS40OTA1OWUtMDggNy40NDk0NWUtMDksNy40NTI5N2UtMDkgMi4yMzQ4NGUtMDgsMi4yMzU4OWUtMDhsNS45MzUsNS45MzRsNC41MjA4M2UtMDgsNC4zNTAyNGUtMDhjMC42MDY4OSwwLjU4Mzk4OSAxLjU3MjI5LDAuNTY1NDI1IDIuMTU2MjgsLTAuMDQxNDY0OWMwLjA0Mzg2NiwtMC4wNDU1ODYyIDAuMDg0ODUyOSwtMC4wOTM4NTc5IDAuMTIyNzIzLC0wLjE0NDUzNWwxNS4wNjYsLTIxbDUuMjgwOThlLTA4LC03LjM2NjE0ZS0wOGMwLjQ4MjY2NSwtMC42NzMyNDMgMC4zMjgyMDcsLTEuNjEwMjkgLTAuMzQ1LC0yLjA5M1oiIGZpbGw9IiMwOTAiPjwvcGF0aD48L3N2Zz4=);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .15s ease-in-out;
}

td.hex-color.copied:after {
  opacity: 1;
}

td.hex-value {
	font-size: 1.3rem;
	text-align: center;
	padding: 0.5rem 0 2.5rem;
	text-transform: lowercase;
	cursor: default;
}

.switch {
  cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: relative;
	display: flex;
}

.switch:focus:not(.focus-visible) {
  outline: none;
}

.switch:focus-visible .control {
	box-shadow: 0 0 0 3px #000, 0 0 0 5px #fff
}

.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.switch input:checked ~ .control {
  background-color: #ca228e;
}

.switch input:checked ~ .control:after {
  left: 24px;
}

.switch .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 40px;
  border-radius: 2.5rem;
  background-color: #a9a9a9;
  transition: background-color 0.15s ease-in;
}

.switch .control:after {
  content: "";
  position: absolute;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
  border-radius: 50%;
  background: white;
  transition: left 0.15s ease-in;
}

.label {
	font-size: 1.6rem;
	line-height: 1.3;
	margin-left: 5rem;
}

.hashtags {
	padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode {
  position: absolute;
	top: 2rem;
	left: 2rem;
}

.ts-documentation {
	text-align: left;
}

.ts-documentation p {
	margin: 1.5rem 0;
}

.ts-documentation h2 {
	padding-top: 2rem;
	margin: 0;
	font-size: 2.7rem;
	line-height: 1.3;
}

.ts-documentation h2:first-child {
    padding-top: 0;
}

.ts-documentation h3 {
	margin-top: 2rem;
	margin-bottom: -0.5rem;
}

.ts-documentation ul, .ts-documentation ol {
	padding-left: 3rem;
	margin: 1.5rem 0;
}

.ts-documentation li {
	margin-bottom: 0.5rem;
}

.ts-footer a:first-child {
	margin-right: 4rem;
}

.not-found {
	background: #000;
  color: #fff;
	display: inline-block;
  padding: 4rem 4rem 3rem;
	min-width: 48rem;
}

.not-found h2 {
	font-weight: 900;
	font-size: 6rem;
	line-height: 1;
	margin: 0;
}

.anchorjs-link {
	padding-left: 0 !important;
	margin-left: 0.375em !important;
}

@media (pointer: coarse) {
	.ts-content textarea {
		font-size: 16px;
	}

	#tints-and-shades {
		overflow-y: scroll;
	  -webkit-overflow-scrolling: touch;
	}

	td.hex-color:before {
		display: none;
	}
}

@media (max-width: 1000px) {
	html {
		font-size: 55%;
	}

	.ts-header {
		margin: 7rem auto 6rem;
	}

	td.hex-value {
		font-size: 12px;
	}

	.label {
		margin-left: 5.5rem;
	}
}

@media (max-width: 500px) {
	.ts-headline h1 a {
		font-size: 4.8rem;
	}

	.ts-input {
		flex-direction: column;
	}

	.not-found {
		min-width: 100%;
	}

	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

@media (max-width: 350px) {
	.ts-headline h1 {
		line-height: 1.2;
	}

	.ts-headline h1 a {
		font-size: 3.6rem;
	}

	.ts-form h2 {
		font-size: 2rem;
	}

	.hashtags {
		flex-direction: column-reverse;
	}
}
