@use 'variables' as *;

html.darkmode-active {
  background-color: $gray-600;
  color-scheme: dark;

  body {
    color: $gray-100;
    background-color: $gray-600;

    a {
      color: $gray-100;
      border-color: $gray-100;
    }

    .header {
      .preface {
        .theme-toggle {
          background-color: $black-transparent;

          &:hover {
            background-color: $black;
          }

          &:active {
            background-color: color-mix(in srgb, $black 85%, $white);
          }

          &-icon {

            svg {
              color: $white;
            }

            .icon-tabler-sun-high {
              display: inline-block;
            }

            .icon-tabler-moon {
              display: none;
            }
          }
        }

        .announcement {
          background-color: $black-transparent;
          color: $gray-100;
          border-color: $black-transparent;

          &:hover {
            background-color: $black;
          }

          &:active {
            background-color: color-mix(in srgb, $black 85%, $white);
          }
        }

        a.github-corner {
          fill: $black-transparent;
        }
      }

      .title a {
        color: $gray-50;
      }
    }

    .form {
      textarea {
        background-color: $gray-500;
        border-color: $gray-500;
        color: $gray-100;
      }

      .color-picker-button {
        background-color: $black-transparent;
        color: $gray-100;
      }
    }

    [data-tooltip]::after {
      background-color: $gray-500;
      color: $white;
    }

    #clr-picker {
      background-color: $black;

      input.clr-color {
        background-color: $gray-500;
        border-color: $gray-500;
      }
    }

    .palettes {
      .palette-controls {
        .step-selector-option {
          background-color: $black-transparent;
          color: $gray-100;
          border: none;

          &.is-active {
            box-shadow: inset 0 0 0 2px $gray-500;
            opacity: 1;
            background-color: $black;

            &:active {
              background-color: color-mix(in srgb, $black 85%, $white);
            }
          }

          &:hover {
            background-color: $black;
          }

          &:active {
            background-color: color-mix(in srgb, $black 85%, $white);
          }
        }

        .action-button {
          background-color: $black-transparent;
          color: $gray-100;

          &:hover {
            background-color: $black;
          }

          &:active {
            background-color: color-mix(in srgb, $black 85%, $white);
          }

          &.is-active {
            border-color: $gray-400;
            box-shadow: inset 0 0 0 2px $gray-500;
            background-color: $black;

            &:active {
              background-color: color-mix(in srgb, $black 85%, $white);
            }
          }
        }
      }

      #tints-and-shades {
        .palette-titlebar {

          &-name {
            color: $gray-100;
          }

          &-action {
            color: $gray-100;
          }
        }

        .palette-complement-dropdown {
          &-menu {
            background-color: $black;
          }

          &-item {
            color: $gray-100;

            &:is(:hover, :focus-visible) {
              background-color: $gray-600;
              color: $white;
            }

            &:active {
              background-color: color-mix(in srgb, $gray-600 92%, $white);
            }
          }
        }
      }
    }

    .utility-dialog {
      background-color: $gray-600;
      color: $gray-100;
      border-color: $gray-600;

      &-close {
        color: $gray-100;
      }

      &.export-dialog {
        .export-tab {
          color: $gray-300;

          &:hover {
            color: $gray-100;
          }

          &.is-active {
            border-color: transparent;
            color: $gray-100;
            background-color: $black-transparent;
          }
        }

        .export-body {
          .export-output {
            border-color: transparent;
            background-color: $black-transparent;

            &-code {
              color: $gray-100;
            }
          }
        }
      }

      &.share-dialog {
        .share-input {
          background-color: $black-transparent;
          color: $gray-100;
        }
      }
    }

    .docs {
      code {
        background-color: $gray-500;
      }
    }

    .not-found {
      background-color: $black-transparent;
      color: $gray-100;
    }
  }
}