@use 'variables' as *;

.darkmode-active,
.darkmode-active body {
  background: $gray-600;
  color: $gray-100;

  .form textarea {
    background: $gray-500;
    border-color: $gray-500;
    color: $gray-100;
  }

  .table-header td span {
    background: $gray-500;
  }

  a {
    color: $gray-100;
    border-color: $gray-100;

    &:hover,
    &:focus,
    &:active {
      border-color: $magenta;
    }
  }

  code {
    background: $gray-500;
  }
}
