$white: #ffffff;
$black: #000000;
$black-transparent: rgba(0, 0, 0, .3);
$orange: #e96443;
$magenta: #ca228e;
$alert: #cc0000;
$success: #009900;
$gray-50: #f0f0f0;
$gray-100: #e6e6e6;
$gray-200: #dbdbdb;
$gray-300: #a9a9a9;
$gray-400: #767676;
$gray-500: #4d4d4d;
$gray-600: #1a1a1a;

$accent-light-1: #a31515;
$accent-light-2: #3556b3;
$accent-light-3: #2a7a3f;
$accent-light-4: #965c1a;
$accent-light-5: #566370;
$accent-dark-1: #ff5f5f;
$accent-dark-2: #5cc2ff;
$accent-dark-3: #7ee787;
$accent-dark-4: #ffa657;
$accent-dark-5: #8b949e;

$radius-main: 6px;
$shadow-main: 0 4px 10px 0 rgba(0, 0, 0, .25);

$font-primary: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$font-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@mixin breakpoint($point, $value: "") {
  @if $point =='large' {
    @media only screen and (max-width: 1000px) {
      @content;
    }
  }

  @else if $point =='medium' {
    @media only screen and (max-width: 500px) {
      @content;
    }
  }

  @else if $point =='small' {
    @media only screen and (max-width: 350px) {
      @content;
    }
  }
}
