<!doctype html>
<html lang="en">

<head>
  {% include "head.njk" %}
</head>

<body>
  {% include "header.njk" %}
  <main id="main" class="main {% if docs %}docs{% endif %}">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
  {% include "scripts.njk" %}
</body>

</html>