---
import InlineIcon from "./InlineIcon.astro";

interface Props {
  main?: boolean;
}

const { main = false } = Astro.props;
---

<header class="header">
  <div class="preface">
    {
      main ? (
        <a href="#color-values" class="skip-link">
          Skip to the form
        </a>
      ) : (
        <a href="#main" class="skip-link">
          Skip to main content
        </a>
      )
    }
    <div class="dark-mode-selector">
      <button id="darkmode-toggle" class="theme-toggle icon-button" type="button" aria-pressed="false" aria-label="Dark mode" data-theme-state="light">
        <span class="theme-toggle-icon" aria-hidden="true">
          <InlineIcon name="moon" />
          <InlineIcon name="sun-high" />
        </span>
        <span class="theme-toggle-state sr-only" id="darkmode-text-toggle">Dark mode</span>
      </button>
    </div>
    <div class="header-actions">
      <a href="https://github.com/edelstone/tints-and-shades" class="icon-button" aria-label="View source on GitHub">
        <span class="icon-github" aria-hidden="true"><InlineIcon name="github" /></span>
      </a>
      <a href="https://www.figma.com/community/plugin/1580658889126377365" class="icon-button" aria-label="View Figma plugin">
        <span class="icon-figma" aria-hidden="true"><InlineIcon name="figma" /></span>
      </a>
    </div>
  </div>
  <div class="title">
    <h1><a href="/">Tint &amp; Shade Generator</a></h1>
    {
      !main && (
        <div class="ads ads-secondary">
          <script async src="//cdn.carbonads.com/carbon.js?serve=CW7ILKQU&placement=maketintsandshadescom&format=cover" id="_carbonads_js" />
        </div>
      )
    }
  </div>
</header>
