---
import InlineIcon from "./InlineIcon.astro";
---

<div class="icon-templates" hidden>
  <template id="icon-copy-template"><InlineIcon name="copy" /></template>
  <template id="icon-check-template"><InlineIcon name="check" /></template>
  <template id="icon-color-picker-template"><InlineIcon name="color-picker" /></template>
  <template id="icon-pencil-template"><InlineIcon name="pencil" /></template>
  <template id="icon-color-filter-template"><InlineIcon name="color-filter" /></template>
  <template id="icon-plus-template"><InlineIcon name="plus" /></template>
  <template id="icon-x-template"><InlineIcon name="x" /></template>
  <template id="icon-link-template"><InlineIcon name="link" /></template>
</div>
