<footer class="footer">
  {% if main %}
  <div class="ads ads-primary">
    <script async src="//cdn.carbonads.com/carbon.js?serve=CW7ILKQU&placement=maketintsandshadescom&format=cover" id="_carbonads_js"></script>
  </div>
  {% endif %}
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/about/#support-this-project">Support this project</a></li>
  </ul>
</footer>