<header class="header">
	<div class="preface">
		{% if main %}
		<a href="#color-values" class="skip-link">Skip to the form</a>
		{% else %}
		<a href="#main" class="skip-link">Skip to main content</a>
		{% endif %}
		<div class="dark-mode-selector">
			<button id="darkmode-toggle" class="theme-toggle icon-button" type="button" aria-pressed="false" aria-label="Dark mode" data-theme-state="light">
				<span class="theme-toggle-icon" aria-hidden="true">
					{% include "partials/icons/moon.njk" %}
					{% include "partials/icons/sun-high.njk" %}
				</span>
				<span class="theme-toggle-state sr-only" id="darkmode-text-toggle">Dark mode</span>
			</button>
		</div>
		<div class="header-actions">
			<a href="https://github.com/edelstone/tints-and-shades" class="icon-button" aria-label="View source on GitHub"><span class="icon-github" aria-hidden="true">{% include "partials/icons/github.njk" %}</span></a>
			<a href="https://www.figma.com/community/plugin/1580658889126377365" class="icon-button" aria-label="View Figma plugin"><span class="icon-figma" aria-hidden="true">{% include "partials/icons/figma.njk" %}</span></a>
		</div>
	</div>
	<div class="title">
		<h1><a href="/">Tint &amp; Shade Generator</a></h1>
		{% if not main %}
		<div class="ads ads-secondary">
			<script async src="//cdn.carbonads.com/carbon.js?serve=CW7ILKQU&placement=maketintsandshadescom&format=cover" id="_carbonads_js"></script>
		</div>
		{% endif %}
	</div>
</header>
