<div class="icon-templates" hidden>
  <template id="icon-copy-template">
    {% include "partials/icons/copy.njk" %}
  </template>
  <template id="icon-check-template">
    {% include "partials/icons/check.njk" %}
  </template>
  <template id="icon-color-picker-template">
    {% include "partials/icons/color-picker.njk" %}
  </template>
  <template id="icon-circle-half-2-template">
    {% include "partials/icons/circle-half-2.njk" %}
  </template>
  <template id="icon-plus-template">
    {% include "partials/icons/plus.njk" %}
  </template>
  <template id="icon-x-template">
    {% include "partials/icons/x.njk" %}
  </template>
</div>
