<div class="icon-templates" aria-hidden="true" hidden>
  <template id="icon-copy-template">
    {% include "partials/icons/copy.njk" %}
  </template>
  <template id="icon-check-template">
    {% include "partials/icons/check.njk" %}
  </template>
  <template id="icon-color-picker-template">
    {% include "partials/icons/color-picker.njk" %}
  </template>
</div>
