{% if main %}
<script type="module" src="/js/app.js"></script>
{% endif %}

{% if docs %}
<script type="module" src="/js/heading-anchors.js"></script>
{% endif %}

<script type="module" src="/js/theme-toggle.js"></script>
