{% if main %}
<script src="/js/color-name-list.js"></script>
<script src="/js/export-naming.js"></script>
<script src="/js/color-utils.js"></script>
<script src="/js/export-ui.js"></script>
<script src="/js/palettes.js"></script>
<script src="/js/app.js"></script>
<script src="/js/clipboard.js"></script>
<script src="/js/clipboard-setup.js"></script>
{% endif %}

{% if docs %}
<script src="/js/anchor.js"></script>
<script>anchors.add('h2');</script>
{% endif %}

<script src="/js/theme-toggle.js"></script>
