{% if main %}
<script src="/js/vendor/color-name-list.js"></script>
<script src="/js/export-naming.js"></script>
<script src="/js/color-utils.js"></script>
<script src="/js/export-ui.js"></script>
<script src="/js/palettes.js"></script>
<script src="/js/app.js"></script>
<script src="/js/vendor/clipboard.js"></script>
<script src="/js/clipboard-init.js"></script>
{% endif %}

{% if docs %}
<script src="/js/vendor/anchor.js"></script>
<script>anchors.add('h2');</script>
{% endif %}

<script src="/js/theme-toggle.js"></script>
